@{
    ViewData["Title"] = "QUAVII - Lecturas de Medidores";
}

<div class="w-100 login">
    <div class="cuadro-login">
        <div class="img-header">
            <img src="~/css/QUAVII.jpg" class="img-logo" />
        </div>
        <div class="p-15">
            <p class="fw-texto text-center">Inicio de Sesión</p>
            <form  method="post" id="formIngreso">
                <div class="caja-texto">
                    <input type="text" id="usuario" placeholder="Usuario">
                </div>
                <div class="caja-texto">
                    <input type="password" id="credencial" placeholder="Contraseña">
                </div>
                <div>
                    <div class="g-recaptcha" data-sitekey="6LeHEU4lAAAAAInuLV9JDrusDup6vdXHDQmfzb3O"></div>
                </div>
                <div>
                    <input type="submit" class="btn-ingreso w-100" id="btnIngresar" value="Ingresar">
                </div>
            </form>
        </div>
    </div>
    <div class="loaded-caja" id="loaded">
        <div class="spinner-border text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/acceso.js"></script>
}